{% extends 'myapp/base.html' %}

{% block myheader %}
    
{% endblock myheader %}

{% block content %}

    <script src="(% static 'js/myJS.js' %)"></script>
    <script> myJS()</script>

    <center>
        <img src="../../../static/image/bannerpopverse.png" alt="Banner" style="width: 100%; height: auto;">

        <p class="mt-4">Pop verse</p>
        <h1>About us</h1>
        <p>At PopVerse, we celebrate the magic of art and imagination through unique, collectible art toys. Each of our toys is thoughtfully designed by talented artists who bring their creative visions to life in a playful, tangible form. Whether you’re a seasoned collector or new to the world of art toys, PopVerse offers a world of characters and designs that spark joy, curiosity, and inspiration.
        </p>
        <p>Our mission is to connect art lovers with extraordinary toys that add character to any collection. We’re passionate about fostering creativity and supporting artists, and we’re committed to delivering high-quality, exclusive designs that you won’t find anywhere else.
        </p>
        <p>Dive into PopVerse and discover a new world of collectible art!
        </p>
    </center>
    

{% endblock content%}
